@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import "vue-advanced-cropper/dist/style.css";

/* TAILWINDCSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* color light mode */
  background-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* color dark mode */
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  /*position: relative;*/
  font-weight: normal;
  font-family: Poppins, sans-serif;
}

.weather-forecasts {
  @apply mt-2 text-primary-focus text-sm;
}

.sidebar {
  @apply h-screen block shadow-lg relative;
}

.sidebar-content {
  @apply flex flex-row h-full;
}

.sidebar-nav {
  @apply w-20 h-screen justify-between flex flex-col;
}

#map {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
