/* TAILWINDCSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* color light mode */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* color dark mode */
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

.sidebar {
  @apply h-screen block shadow-lg relative;
}

.sidebar-content {
  @apply flex flex-row h-full;
}

.sidebar-nav {
  @apply w-20 h-screen justify-between flex flex-col;
}
