django==4.0.1
djangorestframework==3.13.1
django-cors-headers==3.12.0
django-rest-knox==4.2.0
Pillow==9.1.1
psycopg2==2.9.3
grpcio==1.46.1
grpcio-tools==1.46.1
tzdata==2022.1
celery==5.2.6
numpy==1.22.4
scipy==1.8.1
plyfile==0.7.4
pymap3d==2.9.0
